#gallery {
  display: flex;
  list-style: none;
}

#gallery li {
  width: 10%;
  margin-bottom: 30px;
}

#gallery img {
  width: 10%;
  height: auto;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
